body{
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  background-image: url("images/About Me Background.png");
  background-size: cover;
}


.navigation{
  height: 75px;
  background-color: white;

}

.inline-block{
  display: inline-block;
  vertical-align: top;
}

.logo{
  width: 20%;
  padding: 1%;
  text-align: center;
}

nav{
  width: 73%;
  padding: 1%;
  text-align: right;
  font-weight: 700;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
}
ul{
  width: 60%;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #2E7476
}
li{
  padding-right: 30px;
}

.heroImg{
  height: 800px;
  padding: 25px;
}
.content{
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
p{
  font-size: 20px;
  color: #2E7476;
  text-align: justify;
}
h1{
  font-size: 40px;
  font-weight: 200px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(1, 59, 59);
}

button{
  background-color: white;
  color: #2E7476;
  border: 3px solid #2E7476;
  padding: 14px 34px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  
}

footer{
  display: inline-block;
  width: 100%;
  background-color: #2E7476;
  padding: 1px;
  margin-top: 100px;
  bottom: 0;
  font-weight: 500;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
}

footer ul{
  display: inline-block;
  vertical-align: center;
  margin-left: auto;
  width: 100%;
}

footer li{
  display: inline-block;
  padding: 10px;
  color: #E8C9AD;
}


 